@model  MVC.ASP.NET.World_Literature.Models.Storie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


    @Model.PublishDate
<br />
<br />
    @Model.Description  




