@model IEnumerable<MVC.ASP.NET.World_Literature.Models.Storie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stories</h2>

@if (!Model.Any())
{
    <p> We are not any Storie</p>
}

else
{

<table id="stories" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Storie List</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var storie in Model)
        {
            <tr>
                <td>@Html.ActionLink(storie.Title, "Edit", new { id = storie.Id }, null)</td>
                <td>
                    <button data-store-id="stories" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table> 

}

@section scripts{

    <script>

        $(document).ready(function () {
            var table = $("#stories").DataTable({

            });

            $("#stories .js-delete").on("click", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/stories/" + button.attr("data-store-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                    
                });
            });
        });

    </script>
    
    }
